<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/icon.svg" type="image/svg">
</head>

<body>
  <header>
    <div style="margin-bottom:1em;"></div>
    <nav>
      <a class="title" href="/">home</a>
      <span class="separator"></span>
      <a class="title" href="/posts/">blog</a>
      <span class="separator"></span>
      <a class="title" href="/about/">about</a>
      <span class="separator"></span>
      <a class="title" href="/feed.xml">RSS</a>
    </nav>
    <div style="margin-bottom:1em;"></div>
  </header>

  <main>
    <article>
      <h2>{{page.title}}</h2>
      <p><em>{{page.date.strftime("%B %d, %Y")}}</em></p>
      {{content}}
    </article>
  </main>

</body>
</html>
